*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    border-radius: 9px;
    height: 100%;
    border: none;
    transition: 0.5s;
}
body{
    background-image: linear-gradient(to right bottom,#ffffffb7, rgb(19, 1, 31)70%,rgba(43, 2, 46, 0.968));
    background-position: center;
    background-attachment: fixed;
   
}
/*styling the header and navbar */
header h3{
    margin-top:20px ;
    color: white;
    font-size: 40px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 8px rgb(163, 127, 197);
}
span{
    color: rgba(248, 248, 197, 0.858);
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
     font-style: normal;
}
header {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    justify-items:center;
}
header nav a{
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.846);
    display: inline-block;
    margin: 10px;
    margin-right: 24px;
    padding: 0px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    transition: 0.3s;
    
}
header nav a:hover{
    font-size:28px ;
    text-shadow: 0px 0px 8px white;

}

a button{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5dccb;
    width:130px;
    padding: 2px;
    height: 40px;
    border-radius: 8px;
    font-size: 23px;
    margin-top: 15px;
    border: none;
    color: rgb(26, 6, 97);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.296);
    transition: 0.5s;
}
a button:hover{
    background-color: rgba(255, 255, 255, 0.962);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.852);
    cursor: pointer;
}
img{
    transition: 0.5s;
}

/*styling the first section "description" */
.container{
    width: 90%;
    margin: 25px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

}

.illustration{
    display: grid;
    grid-template-columns:350px 380px;
    grid-template-rows: 360px 360px;
    gap: 24px;
}
.item2{
    grid-row:span 2;
}

.illustration div{
    background-color: palevioletred;
    border-radius: 9px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.389);
    border: none;
    transition: 0.7s;
}
.illustration .item1:hover{
    box-shadow: 0 0 30px rgba(180, 169, 169, 0.843);
    height: 375px;
    width: 360px;
}
.illustration .item3:hover{
    box-shadow: 0 0 30px rgba(180, 169, 169, 0.843);
    height: 375px;
    width: 360px;
    margin-right: 10px;
}


.illustration .item2:hover{
    box-shadow: 0 0 30px rgba(198, 191, 191, 0.51);
    width:385px;
    height: 750px;
    margin-top: 0px;
}
.description{
    width: 55%;
    margin-top: 100px;
}

.description h2{
    color: rgb(232, 230, 229);
    font-size: 40px;
    text-wrap: wrap;
    width: 60%;
    font-family: "Overlock SC", sans-serif;
  font-weight: 800;
  font-style: normal;
    margin: 25px 0px 25px 35px;
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.523);

}
a{
    text-decoration: none;
    color: rgb(66, 2, 66);
}
.description p{
    color: rgba(255, 255, 255, 0.78);
    font-size: 25px;
    font-weight: 90;
    font-family: "Overlock SC", sans-serif;
    font-weight: 700;
     font-style: normal;
     text-wrap: wrap;
     width: 60%;
     margin: 25px 0px 25px 35px;
     line-height: 37px;
}
.tutorial{
    margin-top: 50px;
    padding-top: 25px;
    margin-bottom: 300px;
}

.tutorial h2 {
    color: rgb(243, 221, 221);
    text-align: center;
    font-size: 56px;
    margin: 15px;
    margin-top: 120px;
    text-shadow:10px 10px 200px rgb(246, 242, 246);
    letter-spacing: 5px;
    padding-bottom: 40px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
 }
 .description button{
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: rgb(48, 15, 78);
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 7px white;
    border: none;
    margin-left: 40px;
    background-color: rgba(245, 245, 220, 0.858);
    transition: 0.5s;

 }
 .description button:hover{
    background-color: white;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
 }

.container2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 15px;
}
.container2 div{
    background-color: rgb(239, 212, 241);
    width: 370px; 
    height:400px;
    border-radius: 7px;
    color: rgb(80, 65, 44);
    font-size: 19px;
    font-family: "Overlock SC", sans-serif;
    font-weight: 700;
     font-style: normal;
     transition: 0.5s;
     box-shadow: 0px 0px 10px rgb(118, 118, 105);
}
.container2 div:hover{
    box-shadow: 0px 0px 20px wheat;
    width: 380px;
    height: 410px;

}
.container2 .item1 p{
    margin: 20px;
    line-height: 24px;
    text-align: center;
}

.container2 .item1 h2{
    margin-top: 30px;
    font-size: 25px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(62, 17, 104);
    text-shadow: 0px 0px 10px rgb(23, 23, 23);
}
.container2 .item2 h2{
    margin-top: 30px;
    font-size: 25px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(62, 17, 104);
    text-shadow: 0px 0px 10px rgb(23, 23, 23);
}
.container2 .item2 p{
    margin: 20px;
    line-height: 24px;
    text-align: center;
}
.container2 .item2:hover{
padding:10px;
}
    

.container2 .item3 p{
    margin: 20px;
    line-height: 24px;
    text-align: center;
}
.container2 .item3 h2{
    margin-top: 30px;
    font-size: 25px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(62, 17, 104);
    text-shadow: 0px 0px 10px rgb(23, 23, 23);
}
.container2 .item3 img{
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.container2 img{
    width:97%;
    height: fit-content;
    margin-top: 40px;
    margin-left: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px black;

    
}
.approach{
    color: rgba(240, 248, 255, 0.872);
    margin: 30px;
    width: 75%;
    margin-left: 100px;
    text-shadow: 0px 0px 10px rgb(23, 23, 23);
    margin-bottom: 0px;
    font-family: "Overlock SC", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.design{
    color: aliceblue;
    margin: 30px;
    margin-left:100px ;
    width: 100%;
    font-size: 50px;
    font-family: "Overlock SC", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-shadow: 0px 0px 10px rgb(23, 23, 23);

}
.container3{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.flex-item1{
    width:80% ;
    margin-right: 25px;
}
.flex-item2 p{
    color: white;
    text-wrap: wrap;
    margin-left: 100px;
    margin-top: 59px;
    font-size: 19px;
    line-height: 26px;
    font-family: "Overlock SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-right:100px ;
}

/*styling the benefits*/
.benefits{
    width: 97%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 10px;
   margin-top: 60px;
   backdrop-filter: blur(40px);
}

.benefits div{
    background-color: rgba(252, 219, 248, 0.857);
    width: 360px; 
    height:380px;
    margin:17px;
    border-radius: 5px;
    box-shadow: 0px 0px inset 60px rgba(20, 17, 17, 0.89);
    padding: 25px;
    transition: 0.5s;
}
.benefits div:hover{
    box-shadow: 0px 0px 10px wheat;
    width:370px;
    height:390px;
    padding:35px;
}


.benefits div h3{
    font-size: 25px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 10px;
    color: rgb(62, 17, 104);
    text-shadow: 0px 0px 10px rgb(23, 23, 23);
}
    .benefits div p{
        margin: 10px;
        margin-top: 60px;
        font-size: 19px;
        font-family: "Overlock SC", sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 23px;
        color: rgb(80, 65, 44);
        text-align: center;
        

    }
    .footer{
        margin-top: 39px;
    }
    
        .contact{
            margin-top: 10px;
            border-radius: 10px;
            background:#edd2ea6d;
            backdrop-filter: blur(3000px);
            color: rgb(109, 107, 108);
            margin: 30px;
            padding: 50px;
            box-shadow: 0 0 15px white ;
        }
        .footer h2{
            color: rgb(74, 72, 73);
            margin: 0px 10px 50px 40px;
            font-size: 50px;
            font-family: "Overlock SC", sans-serif;
             font-weight: 800;
             font-style: normal;
            
        }
        .contact label{
            font-size: 19px;
            font-family: "Overlock SC", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: rgb(74, 72, 73);
        }
       .contact input{
        border-radius: 8px;
        outline: none;
        border: none;
        width: 200px;
        height: 30px;
        margin: 40px;
        background-color: transparent;
        backdrop-filter: blur(50px);
        color: rgb(233, 227, 227);
        padding: 5px;
        font-size: 14px;
       }  
       .contact input::placeholder{
        color: rgb(66, 63, 64);}
 
       textarea{
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: transparent;
        backdrop-filter: blur(50px);
        color: rgb(230, 221, 221);
        font-size: 14px;
        padding: 15px;
        margin-top: 20px;
        height: 250px;
        width: 90%;

       } 
       textarea::placeholder{
        color: rgb(66, 63, 64);
        font-size: 14px;
        text-transform: uppercase;
       }
       #name{
        margin-left: 10px;
       } 
       #email{
        margin-left: 60px;
       }
        #submit{
            margin-top: 30px;
            border-radius: 7px;
            width: 168px;
            height: 35px;
            color: rgb(66, 63, 64);;
            background-color: white;
            font-size: 19px;
            font-weight: 700;
            transition: 0.5s;
            display: block;
            margin-left: 90%;
            border: none;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.871);
        }
        #submit:hover{
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.829);
            cursor: pointer;
            background-color: transparent;
            border: 0.5px solid black;
            color: white;
    }

    .copyright{
        color: rgb(175, 159, 159);
        text-align: center;
        font-size: 19px;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
    }